* {
  resize: none;
}
.sidebar {
  border-right: 1px solid grey;
  padding: 10px;
}

.right-bar {
  border-left: 1px solid grey;
  right: 0;
  padding-left: 20px;
}

/* =====ALL BUTTONS/LINKS===== */
.all-links {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 1.5em;
}

.all-links:hover {
  color: lightskyblue;
}

.all-links::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightskyblue;
  transform: scaleX(0);
  transition: transform 0.1s ease;
}

.all-links:hover::before {
  transform: scaleX(1);
}

/* =====BLOG POST===== */
.blog-post-container {
  width: 65%;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  top: 10px;
  position: relative;
  border-radius: 5px;
  background-color: whitesmoke;
}

#blog-thumbnail {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 50px;
  background: grey;
  margin: auto;
}

.blog-content {
  margin-left: 5px;
  padding: 5px;
  text-align: left;
  width: 90%;
}

.blog-content h3 {
  font-size: xx-large;
}

.blog-date-user {
  padding: 0;
  margin: 0;
  padding-right: 2em;
  color: gray;
}

#blog-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
}

.blog-read-more {
  position: absolute;
  right: 30px;
  text-decoration: none;
  color: lightskyblue;
}

.blog-read-more::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: lightskyblue;
  transform: scaleX(0);
  transition: transform 0.1s ease;
}

.blog-read-more:hover::before {
  transform: scaleX(1);
}

.logo {
  margin: 10px;
  background-image: url(images/plant-based-food-mc-220323-02-273c7b.jpg);
  background-size: contain;
  height: 150px;
  width: 150px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Fugaz One", cursive;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

/* font options */
/* 'Titan One', cursive; */
/* 'Paytone One', sans-serif; */

/* =====FORM STYLING===== */
.all-forms {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: larger;
  width: 30%;
  margin: auto;
  margin-block: 20px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}

.form-field {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.form-button {
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  color: white;
  background-color: lightskyblue;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
/* =====CREATE BLOG FORM===== */
.create-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: large;
  width: 50%;
  margin: auto;
  margin-block: 20px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.25);
}
/* =====BLOG COMMENTS===== */
.comments {
  padding-inline: 10px;
  font-size: small;
  background-color: whitesmoke;
}

.comment-btn {
  text-align: right;
  right: 0;
  color: lightskyblue;
  font-size: 1.5em;
}
