<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block content %}
    <div class="blog-post-container">
        <h1>{{blog_post.Title}}</h1>
        <p>Author: {{blog_post.author}}</p>
        <p>category: {{blog_post.category}}</p>
        <p>Created on: {{blog_post.created_at}}</p>
        <hr>
        <p >{{blog_post.content}}</p>
        
    <div/>
    <hr>
    <a class="comment-btn" href="{% url 'comment' blog_post.id %}">Comment</a>&nbsp
    {% if 'moderators' in groups or blog_post.author.user == request.user %}
    <a style="color:red; right:0; font-size:1.5em;" href="{%url 'delete_blog' blog_post.id %}">Delete</a>
    {%endif%}

    <!-- for comment in comments -->
    {% for comment in comments %}
    <div class="comments ">
        <hr>
        <p>{{comment.content}}</p>
        <p class="comment-btn">-{{comment.author}}</p>
            {% if 'moderators' in groups or comment.author.user == request.user %}
            <a style="color:red; right:0;" href="{%url 'delete_comment' comment.id %}">delete</a>
            {%endif%}
            
    </div>
    <hr>
    {% endfor %}
{% endblock content %}
