{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <!-- prettier-ignore -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap"
      rel="stylesheet"
    />
    <title>Food Simps Blog-R-Us</title>
  </head>
  <body>
    <nav class="sidebar w3-sidebar w3-bar-block">
      <a href="#" class="w3-bar-item all-links">Home</a>
      <a href="#" class="w3-bar-item all-links">Create Blog</a>
      <a href="{% url 'login' %}" class="w3-bar-item all-links">Login</a>
      <a href="{% url 'register' %}" class="w3-bar-item all-links">Register</a>
      <div class="w3-dropdown-hover w3-right">
        <!-- if request.user.is_authenticated -->
        <button class="w3-button w3-text-light-blue w3-padding-16">
          {{request.user}}
        </button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <!-- prettier-ignore -->
          <a href="" class="w3-bar-item w3-button">My Profile</a >
          {% if request.user.is_authenticated%}
          <a href="{% url 'logout'%}" class="w3-bar-item w3-button">Logout</a>
          {% endif %}
          <!-- end if -->
        </div>
      </div>
    </nav>
    <div class="logo">
      Food Simps <br />
      Blog <br />
      Forum
    </div>
    <nav
      class="sidebar w3-sidebar w3-bar-block"
      style="right: 0; background-color: #f8fffe"
    >
      <div>
        Food Simps <br />
        Blog <br />
        Forum
      </div>
      <h2>Categories</h2>
      <!-- url filter by (category) -->
      <a
        href="{% url 'filter results'%}?category=Entree"
        class="w3-bar-item all-links"
        >Entree</a
      >
      <a
        href="{% url 'filter results'%}?category=Appetizer"
        class="w3-bar-item all-links"
        >Appetizer</a
      >
      <a
        href="{% url 'filter results'%}?category=Dessert"
        class="w3-bar-item all-links"
        >Dessert</a
      >
      <a
        href="{% url 'filter results'%}?category=Cocktail"
        class="w3-bar-item all-links"
        >Cocktail</a
      >
    </nav>
    {% block content %} {% endblock content%}
  </body>
</html>
