{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <!-- prettier-ignore -->
    <linkrel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-cyan.css" />
    <title>Food Simps Blog-R-Us</title>
  </head>
  <body>
    <nav class="sidebar w3-sidebar w3-bar-block">
      <a href="#" class="w3-bar-item all-links">Home</a>
      <a href="#" class="w3-bar-item all-links">Create Blog</a>
      <a href="#" class="w3-bar-item all-links">Login</a>
      <a href="#" class="w3-bar-item all-links">Register</a>
      <div class="w3-dropdown-hover w3-right">
        <!-- if request.user.is_authenticated -->
        <button class="w3-button w3-text-light-blue w3-padding-16">
          {{request.user}}
        </button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <!-- prettier-ignore -->
          <a href="" class="w3-bar-item w3-button">My Profile</a >
          <a href="#" class="w3-bar-item w3-button">Logout</a>
        <!-- end if -->
        </div>
      </div>
    </nav>
    <nav class="category-bar w3-bar-block w3-right">
      <a href="" class="w3-bar-item all-links">Breakfast</a>
      <a href="" class="w3-bar-item all-links">Lunch</a>
      <a href="" class="w3-bar-item all-links">Breakfast</a>
      <a href="" class="w3-bar-item all-links">Breakfast</a>
    </nav>
    {% block content %}
    {% endblock content%}
  </body>
</html>
